<div class="facility-index">
    <header>
        <div class="header-logo">
            <a href="index">
                <img src="/images/logo.png">
            </a>
        </div>
        <div class="header-buttons">
            <a href="/gym" class="green-button">
                헬스
            </a>
            <a href="/yoga">
                요가
            </a>
            <a href="/pilates">
                필라테스
            </a>
        </div>
        <div class="header-search">
            <div class="header-search-input">
                <%= form_tag(gym_search_path, method: "get") do %>
                <%= search_field_tag :search, params[:search] %>
                    <button class="header-search-button">
                    <img src="/images/search.png" alt="search icon"/>
                    <%= button_tag "" %>
                    </button>
                <% end %>
            </div>
        </div>
        <div class="header-menu">
            <button>
                <a href="/gym/detailsearch">
                    <img src="/images/hamburger.png" alt="hamburger"/>
                </a>
            </button>
        </div>
    </header>

    <main>
        <div class="top">
            <% @gyms.each do |gym| %>
                <div class="pic">
                    <img src="/images/fitness_1.png" alt="fitness_1">
                    <p class="title">
                        <a href="/gym/show/<%= gym.id %>" target="_blank">
                            <%= gym.name %>
                        </a>
                        <!--<%= link_to gym.name, @gym %>-->
                    </p>
                    <p class="location"><%= gym.location %></p>
                </div>
            <% end %>
        </div>
    </main> 

    <div class="plusbutton">
        <button>
          <a href="/gym/new">
            <img src="/images/plusbutton.png">
          </a>
        </button>
      </div>    

    <div class="upbutton">
        <button>
          <a href="#">
            <img src="/images/upbutton.png">
          </a>
        </button>
     </div>
</div>